$height-header: 81px;
$text-note: #ccc;
$bg-white: #fff;
$border-color-nav-mobile: rgba(255, 255, 255, 0.4);
$gallery-text-color: #ffffff;
$main-family: "Neuzeit Office W01 Regular", sans-serif;
$main-weight: 400;
$nav-family: "Neuzeit Office W01 Regular", sans-serif;
$nav-weight: 400;
$heading-family: "Neuzeit Office W01 Regular", sans-serif;
$heading-weight: 700;
$font-size: 1rem;
$h1-size: 1.8rem;
$h2-size: 1.5rem;
$h3-size: 1.2rem;
$h4-size: calc(var($font-size) + 2px);
$h5-size: calc(var($font-size) + 1px);
$font-sizes: (1.8rem, 1.5rem, 1.2rem, 1.1rem, 1rem, 0.9rem, 0.75rem);
$nav-size: 1rem;
$header-background: #ffffff;
$cart-links: #000000;
$background: #ffffff;
$heading-color: #000000;
$text-color: #000000;
$sale-color: #bc0000;
$nav-color: #000000;
$footer-background: #ffffff;
$footer-color: #000000;
$footer-border: #e5e5e5;
$error-msg-dark: #e81000;
$error-msg-light: #ffeae8;
$success-msg-dark: #007f5f;
$success-msg-light: #e5fff8;
$free-shipping-bg: #313131;
$free-shipping-text: #fff;
$error-color: #c60808;
$error-color-light: #fdd0d0;
$keyboard-focus-color: #cccccc;
$keyboard-focus-border-style: dotted;
$keyboard-focus-border-weight: 1;
$icon-border-color: #e6e6e6;
$border-color: #3333;
$thumbnail-slider-outline-color: #666666;
$price-unit-price-color: #999999;
$select-arrow-bg: url(//fashionopolism-secret-sale.myshopify.com/cdn/shop/t/47/assets/select-arrow.png?v=1125959…);
$product-info-align: center;
$color-filter-size: 18px;
$color-body-text: var($text-color);
$color-body: var($background);
$color-bg: var($background);
$disabled-text: #808080;
$section-padding: 55px;
$button-border-radius: 0px;
$star-active: rgb(0, 0, 0);
$star-inactive: rgb(204, 204, 204);
$section-background: #ffffff;
$section-overlay-color: 0, 0, 0;
$section-overlay-opacity: 0;
$section-button-size: 15px;
$age-text-color: #262b2c;
$age-bg-color: #faf4e8;
$slide-text-color: #ffffff;
$slide-button-text: #ffffff;
$slide-button-color: #000000;
$slide-section-background: rgba(0, 0, 0, 0);
